.about-us {
  display: flex;
  min-height: 720px;
  overflow: hidden;
}
.about-us__image {
  flex: 0.665;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-white);
  position: relative;
}
.about-us__image div {
  padding: 25px 80px;
  flex: 1;
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.about-us__image-fired img {
  width: 250px;
  height: 460px;
}
.about-us__image-donburi3 img {
  width: 250px;
  height: 250px;
  margin: 100px 0;
}

.about-us__button {
  position: absolute;
  right: 0;
  padding: 12px 32px;
  min-height: 64px;

  background-color: var(--secondary-color);
  border-radius: 32px 0 0 32px;
  border: 0;
  color: #fff;
  font-family: var(--plus-jakarta-sans);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
}
.about-us__button img {
  object-fit: contain;
  margin-left: 32px;
}
.about-us__content {
  padding: 64px;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
